@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez:ital@0;1&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sanchez", serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Love Ya Like A Sister", cursive;
    color: #fff !important;
}

.main {
    height: 100vh;
}

.header {
    background-color: #ffc75f;
    height: 10vh;
}

.user-icon {
    font-size: 2rem;
    color: #fff;
}

.user-actions {
    background-color: #e8b454;
    padding: 0 20px;
    border-radius: 20px;
}

.hero-container {
    height: 50vh;
    background-color: #ffc75f;
    position: relative;
}

.hero-img {
    width: 40vh;
    margin-top: 5vh;
}

.hero-intro {
    margin-top: 10vh;
}

.login-container {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    height: 20vh;
    border-bottom: 30px solid #845ec2;
}

.sub-page-container {
    height: 25vh;
    background-color: #ffc75f;
}

.sub-page-input {
    height: 100%;
}

.register-link {
    padding: 15px;
    color: #fff;
    font-size: 2rem;
    border: 2px solid #fff;
    border-radius: 40px;
    font-family: "Love Ya Like A Sister", cursive;
    transition: 0.2s all ease-in-out;
}

.register-link:hover {
    text-decoration: none;
    background-color: #e4b04f;
    color: #fff;
}

.form-input {
    font-size: 40px;
    background-color: #efefef;
    border-radius: 50px;
    width: 100%;
    padding: 20px 100px 20px 20px;
    border: 4px solid #b5acac;
    color: #7e7575;
    font-family: "Sanchez", "serif";
    transition: 0.2s all ease-in-out;
}

.form-input:focus-visible {
    outline: none;
}

.form-input::placeholder {
    color: #969696;
}

.form-input:focus {
    border: 4px solid #7e7575;
}

.submit-icon:hover {
    color: #5d418a;
}

.submit-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #845ec2;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.translation-container {
    min-height: 65vh;
}

.translation-output {
    min-height: 50vh;
    width: 100%;
    border-radius: 25px;
}

.translation-output-main {
    min-height: 45vh;
    padding: 20px;
}

.translation-output-footer {
    height: 5vh;
    padding: 30px 20px;
    background-color: #845ec2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: center;
}

.translation-output-footer span {
    background-color: #efefef;
    padding: 7px 20px;
    border-radius: 20px;
}

.translation-item {
    background-color: #ffc75f;
    color: #fff;
    font-size: 20px;
    height: 5vh;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.translation-item:hover {
    background-color: #d69e35;
}

.translate-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.delete-icon {
    font-size: 25px;
    cursor: pointer;
    color: #a73737;
    z-index: 100;
}

.sign-image {
    width: 10vh;
}

.response-text {
    font-size: 2rem;
    color: #7e7575;
}

.dropdown-menu {
    background-color: #e8b454;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #e8b454;
}

.modal-header,
.modal-footer {
    background-color: #e8b454;
    color: #fff;
}

.modal-dialog {
    min-width: fit-content;
}

.modal-body {
    font-size: 3vh;
}

.btn-warning {
    background-color: #ffc75f;
}
